.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 2%, #2F9248 100%);
    height: 8vh;
    width: 100%;
    transition: 0.3s;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.cabecalho nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 100%;
    flex-wrap: wrap;
    transition: 1s;
}

.cabecalho .pags a {
    text-decoration: none;
    color: #fcfcfc;
    font-size: 3em;
    font-family: 'Towards', sans-serif;
}
.cabecalho .logohome img {
    width: 30%;
    margin-top: 1%;
}

.cabecalho a:hover {
    color: #fff;
    transition: 0.5s;
    font-size: 3.3em;
}